* {
    box-sizing: border-box;
}

ion-icon {
    transition: all 1s ease-in-out;
}

body {
    background-color: #EEF9BF;
}



/* PAGINAS */
.pagina-inicial p{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
}

.pagina-inicial {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    background-color: #c6db69;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    width: 240px;
    height: 300px;
    border-radius: 16px;
    box-shadow: 0 0 23px 2px;
}



/* TITULO */
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.titulo h1 {
    color: #75B79E;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
}



/* CARTAS -- JOGO */
.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-jogo {
    max-width: 920px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.carta img {
    width: 100px;
    height: 100px;
}

.carta {
    width: 120px;
    height: 150px;
    margin: 0 17.5px 35px 17.5px;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: all 0.5s;
    position: relative;
    cursor: pointer;
}

.face {
    width: 100%;
    height: 100%;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A7E9AF;
    backface-visibility: hidden;
    position: absolute;
}

.tras {
    transform: rotateY(180deg);
}



/* CRONOMETRO E CONTADOR */
.cronometro {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    transition: all 1s ease-in-out;
    font-size: 32px;
    
}

.cronometro p {
    font-size: 19px;
    text-align:right;
}

.cronometro > p{
    margin-right: 10px;
}


.iniciado {
    width: 223px;
    height: 40px;
    color: #000000;
    background-color: aquamarine;
    box-shadow: 2px 2px 12px 3px green;
    justify-content: flex-start;
    padding-left: 5px;
}



/* CONQUISTAS */
.conquistas {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.conquista img {
    width: 140px;
    height: auto;
    margin: auto 32px auto 10px;
    border-radius: 15px;
}

.segredo {
    display: flex;
}

.conquista {
    width: 420px;
    height: 150px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    text-align: start;
    background-color: #d5eb7e;
    border-radius: 23px;
    border: 1px solid #a9c432;
    box-shadow: 0 0 10px 1px #cfe66a;
    margin: 50px 0;
}



.aviso {
    position: fixed;
    bottom: -70px;
    margin-left: calc(50% - 100px);
    height: 70px;
    width: 200px;
    background-color: rgb(163, 68, 163);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: aliceblue;
    text-align: center;
    font-size: 23px;
    border-radius: 10px 10px 0 0;
    border: 3px solid rgb(92, 0, 92);
    border-bottom: 0px;
    box-shadow: 0 0 10px 1px black;
    transition: all 1.5s ease-in-out;
}



/* VISUAIS */
.visuais img{
    width: 200px;
    height: auto;
    background-color: lightgray;
    border-radius: 15%;
    box-shadow: 4px 4px darkblue;
}

.visuais {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.visuais div {
    margin: 0 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.visuais p {
    margin-top: 10px;
    text-shadow: 1px 1px red;
}

/* EFEITOS */


.virada {
    transform: translateX(-100%) rotateY(180deg);
    cursor:default;
}

.fechada {
    transform: translateX(-100%) rotateY(180deg);
    cursor:default;
}

.voltar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #c6db69;
    box-shadow: 0 0 5px 1px;
    cursor: pointer;
}

.escondido {
    display: none;
}

.subindo {
    bottom: 0;
}

.chuva {
    opacity: 0.5;
    pointer-events: none;
}

@media (max-width:540px) {

.area-jogo {
    flex-direction: column;
}

.cronometro {
    margin-bottom:50px ;
}

.voltar-menu {
    margin: 10px 0 50px 0;
}

.visuais {
    flex-direction: column;
}

.visuais div {
    margin-bottom: 23px;
}

}